{{#hasMessages}}
    <div class="alert alert-success" role="alert">
        <ul>
            {{#messages}}
                <li>{{{.}}}</li>
            {{/messages}}
        </ul>
    </div>
{{/hasMessages}}