{{#hasWarnings}}
    <div class="alert alert-warning" role="alert">
        <ul>
            {{#warnings}}
                <li>{{.}}</li>
            {{/warnings}}
        </ul>
    </div>
{{/hasWarnings}}