{{#hasErrors}}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul>
        {{#errors}}
        <li>{{.}}</li>
        {{/errors}}
        </ul>
    </div>
{{/hasErrors}}
{{#registrationSuccessful}}
    <div class="alert alert-success" role="alert">
        You have successfully registered. Proceed to <a href="/">Log In</a>
    </div>
{{/registrationSuccessful}}
{{^registrationSuccessful}}
<form action="/register" method="POST">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="{{username}}" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" value="{{password}}" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="{{email}}" placeholder="Email">
    </div>
    <div class="checkbox">
        <label>
            <input name="acceptedTerms" type="checkbox"> Accept terms and conditions?
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{{/registrationSuccessful}}
