{{% BLOCKS }}
<!DOCTYPE html>
<html>
<head>
<title>{{$ title }}My Awesome Site{{/ title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
{{$ stylesheets }}
{{/ stylesheets }}
</head>
<body data-websocket-path="{{websocket}}" data-websocket-user="{{user}}" data-websocket-ticket="{{wsTicket}}">
<div id="game">
{{$ content }}

{{/ content }}
</div>
<div id="chat">
    <div id="chatMessagesContainer">
        <div id="chatMessages"></div>
    </div>
    <input id="chatInput" >
</div>
{{$ scripts }}
{{/ scripts }}
<script data-main="/js/main_game" src="/js/vendor/require.min.js"></script>
</body>
</html>