{{% BLOCKS }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{$ title }}DOVE{{/ title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    {{$ stylesheets }}

    {{/ stylesheets }}
  </head>
  <body>

    <header class="jumbotron">
     <div class="container">
      {{$ header }}
        <h1>DOVE</h1>
      {{/ header }}
       </div>
    </header>
    <div id="content" class="container">
      {{$ content }}
        <p>Hello, World!</p>
      {{/ content }}
    </div>

    {{$ scripts }}

    {{/ scripts }}
        <script data-main="/js/main" src="/js/vendor/require.min.js"></script>
  </body>
</html>